<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}" type="text/javascript">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> -->
    {{ form.media }}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/JS.png' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css"> -->
    <!-- <link rel="stylesheet" href="{% static 'js/home.js' %}" type="text/javascript"> -->
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Roboto+Condensed:wght@300&family=Smooch+Sans:wght@100&display=swap" rel="stylesheet">
    <!-- Slide stuff -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- end -->
    <!-- <link rel="stylesheet" href="js.css" type="text/css">  -->
    <link rel="stylesheet" href="{% static 'css/ban.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}" type="text/javascript">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
     
    <title>{% block title %}Trang Chủ{% endblock %}</title>
</head>

<body>
    <!-- navbar -->
    <div class="navigation-part">
      <header>
        <a href="/" class="brand" style = "transition: 1.0s ease;">JS CLUB</a>
        <div class="menu-btn"></div>
        <div class="navigation">
          <div class="navigation-items">
            <a href="/">Trang Chủ</a>
            <a href="/ban">Phân Ban</a>
            <a href="/su-kien">Sự Kiện</a>
            <a href="/bai-dang/">Bài Đăng</a>
          </div>
        </div>
      </header>
  

      <script>
      window.addEventListener("scroll" ,function(){
        var header = document.querySelector("header");
        header.classList.toggle("sticky" , window.scrollY > 0 );
      })

      </script>
    </div>


  {% block content %}

  {% endblock %}

<hr class="my-4">
  <!--- Footer -->
  <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Menu</h3>
                      <ul>
                          <li><a href="/">Trang chủ</a></li>
                          <li><a href="/ban">Phân ban</a></li>
                          <li><a href="/su-kien">Sự kiện</a></li>
                          <li><a href="bai-dang/trang-1">Bài đăng</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 item">
                      <h3>About</h3>
                      <ul>
                          <li><a href="#">SDT: 038 426 0364</a></li>
                          <li><a href="#">Gmail: jsclub.fpt@gmail.com</a></li>
                          <!-- <li><a href="#">Careers</a></li> -->
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                      <h3>JS CLUB</h3>
                      <p>JS Club là câu lạc bộ Kỹ sư phần mềm Nhật Bản, nơi hội tụ của những bạn đam mê tiếng Nhật và lập trình</p>
                  </div>
                  <div class="col item social"><a href="https://www.facebook.com/fu.jsclub/?ref=page_internal" target="_blank"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/fptu.jsclub/?fbclid=IwAR1F8SXmh88tHmAPTjpaaH5cXjBqpRgZBb91GkTyb69HwBqX45hIlESjv48" target="_blank"><i class="icon ion-social-instagram"></i></a><a href="mailto:jsclub.fpt@gmail.com?subject=CONTACT" target="_blank"><i class="icon ion-android-mail"></i></a></div>
              </div>
              <p class="copyright">Group 6 © 2022</p>
          </div>
      </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    
</body>

</html>